.app {
  text-align: center;
  margin: 30px 0;
}

.limit {
  max-width: 1000px;
  margin: auto;
}

.input {
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  width: 100%;
  flex: 1;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.review {
  white-space: pre-line;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text-area {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 10px;
}

.width {
  width: 100%;
}

.header-review {
  font-weight: bold;
}

keyword {
  color: red;
  font-weight: bold;
}
